# Automatically request reviews from team Atlas on **release PRs**.
# This uses the fact that release PRs always modify this file but almost no
# other PR does.
pkg/project/project.go  @giantswarm/team-atlas
