- job_name: "docker"
  kubernetes_sd_configs:
  - api_server: <API_SERVER_URL>
    role: node
    tls_config:
      ca_file: /etc/prometheus/secrets/<SECRET_NAME>/ca
      cert_file: /etc/prometheus/secrets/<SECRET_NAME>/crt
      key_file: /etc/prometheus/secrets/<SECRET_NAME>/key
      insecure_skip_verify: false
  relabel_configs:
  - source_labels: [__address__]
    action: replace
    target_label: __address__
    regex: ([^:]+)(?::\d+)?:(\d+)
    replacement: ${1}:9323